.card {
    height: 43vh;
    background-size: 100% 100%;
    background-position: center;
    margin: 0 10px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    z-index: 2;
}

.card-body-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.card-body-overlay .card-text{
    display: none;
}

.card-body-overlay .card-title , .modal-title{
    font-size: 16px;
    font-weight: 600;
}

.card:hover .card-body-overlay {
    opacity: 1;
}

.icon-borra, .icon-guarda{
    font-size: 25px;
}

.icon-guarda{
    color: inherit;
}

.icon-borra{
    color: #f79959
}

@media (min-width: 1440px){
    .card {
        height: 50vh;
    }
}

@media (max-width: 768px){
    
    .card {
        width: 50%;
    }
    
}
