a img{
    width: 100px;
}

@media (max-width: 992px){
    .dropdown-menu.dropdown-navbar {
        left: -100px !important;
        top: 23px !important;
    }
}

#cardContainer{
    margin: 50px !important;
 }
 
 .card{
     max-width: 27vh;
     min-width: 20vh;
     height: 35vh;
 }
 

